.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.pdb
*.dll
*.exe

node_modules/
.angular/
dist/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db
*.swp
*~